name: crafty_bay
description: "An e-commerce project"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter


  cupertino_icons: ^1.0.8
  firebase_core:
  firebase_crashlytics: ^5.0.6
  firebase_analytics: ^12.1.0
  intl:
  provider:
  shared_preferences: ^2.5.4
  flutter_svg: ^2.2.3
  http:
  logger:
  pin_code_fields: ^8.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/images/


